* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #58355E;
    background-color: #7AE7C7;
    text-align: center;
}

a {
color: #EC0B43;
}

