@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: open sans, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #d5c8cc;
    background-color: #1d0b11f5;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
}

main {
justify-content: center;
align-items: center;    
}

h1 {
position: relative; 
font-family: poppins;    
color: mediumpurple;
font-size: 150px;
}

h2 {
    color: aquamarine;
}

header .logo img {
float: left;
border: 2px dashed #EC0B43;   
padding: 1px;
margin-right: 40px;
box-shadow: 4px 4px 10px #EC0B43;
}

img {
max-width: 100%;
height: auto;
width: auto;
}

p {
font-family: cursive;
}

ul {
font-family: cursive;
}

a {
color: #EC0B43;
text-decoration: none;   
}

a:hover {
color: #ec0b435c
}

footer {
margin: 15px;
}
