@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    box-sizing: border-box;
}

body {
    font-family: open sans, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #d5c8cc;
    /*background-color: #1d0b11f5;*/
    background: radial-gradient(#480d35 ,#17151d);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
}


header {
    margin: 10px;
    padding: 20px 10px;
}

header .logo img {
    float: left;
    border: 2px dashed #EC0B43;
    padding: 1px;
    margin-right: 40px;
    box-shadow: 4px 4px 10px #EC0B43;
}

main {
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 40px 20px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #f6d8d5;
    text-align: center;
    font-size: 100px;
    position: relative;
}

h1::before {
    content: attr(data-text);
    position: absolute;
    color: #313f97;
    top: 0.01em;
    left: 0.5em;
    z-index: -1;
    transition: 0.2s;
}

h1:hover::before {
    top: 0.08em;
    left: 0.6em;
}

h1::after {
    content: attr(data-text);
    position: absolute;
    color: transparent;
    top: -0.01em;
    left: 0.45em;
    background-image: radial-gradient(circle, rgba(236, 34, 37, 0.5) 0.0125em, transparent 0.0125em);
    background-size: 8px 8px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 0.2px #ec2225;
    transition: 0.2s;
}

h1:hover::after {
        top: -0.1em;
        left: 0.4em;
}


h2 {
    color: aquamarine;
}



img {
    max-width: 100%;
    height: auto;
    width: auto;
}

p {
    font-family: cursive;
    text-align: center;
}

.descriptionParent {
    text-align: center;
}

.description {
    border: solid 1px #EC0B43;
    padding: 10px;
    font-weight: 800;
    color: aquamarine;
    display: inline-block;
    background-color: #58355E;
}

ul {
    font-family: cursive;
}

a {
    color: #EC0B43;
    text-decoration: none;
}

a:hover {
    color: #ec0b435c
}

footer {
    margin: 15px;
}
