* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-seri;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #58355E;
    background-color: #7AE7C7;
    justify-content: center;
    align-items: center;
}

header .logo img {
float: left;
border: 2px dashed #EC0B43;   
padding: 20px;
margin-right: 30px;
margin-bottom: 50px;
box-shadow: 4px 4px 10px #EC0B43;
}


footer {
margin: 15px;
}
a {
color: #EC0B43;
}

